@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
  box-sizing: border-box;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}

img {
  width: 100%;
  display: block;
  padding: 1em;
}

.masthead {
  background-image: url("../images/logo.svg");
  background-size: 50px auto;
  background-repeat: no-repeat;
  background-position: left top;
}

h1 {
  text-align: center;
  font-size: 28px;
}

h2 {
  text-align: center;
  padding: .5em;
  margin: 0;
  clear: both;
  font-size: 24px;
}

h3 {
  margin: 0;
  clear: both;
  padding: .25em .25em .25em 1em;
  font-size: 18px;
}

.center {
  text-align: center;
}

.center1 {
  text-align: center;
  padding-top: .5em;
}

nav {
  font-family: 'Lora', serif;
  margin: 0;
  color: black;
  font-size: 12px;
  background-color: lightblue;
}

nav li {
  display: block;
  width: 25%;
  float: left;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  display: block;
  margin: 0;
  padding: 0;
  padding: 0.25em 1em 1em 1em;
  color: black;
  background-color: lightblue;
}

nav ol {
  text-align: center;
  padding: 0;
  overflow: hidden;
}

figure {
  margin: 0;
}

.first {
  padding: calc(2em + 20vw) 0 0;
  background: url("../images/seven-wonders.jpg") center center / cover no-repeat;
  clear: both;
  text-align: center;
}

.text {
  margin: 0;
  padding: .25em;
  color: #fff;
  font-size: 0.75em;
  text-align: center;
  width: 100%;
  bottom: 30%;
  line-height: 100%;
  padding: 0.5em;
}

strong {
  font-weight: bold;
  font-size: 1.45em;
  color: #fff;
  bottom: 30%;
  line-height: 100%;
  margin: 0;
  text-align: center;
}

.text1 {
  margin: 0;
  padding: .25em;
  color: #fff;
  font-size: 0.75em;
  text-align: center;
  width: 100%;
  bottom: 60%;
  line-height: 100%;
  padding: 0.5em;
}

.alt {
  font-weight: bold;
  font-size: 1.45em;
  color: #fff;
  bottom: 60%;
  line-height: 100%;
  margin: 0;
  text-align: center;
}

.atlantis {
  padding: calc(2em + 20vw) 0 0;
  background: url("../images/atlantis.jpg") center center / cover no-repeat;
  clear: both;
  text-align: center;
}

.more {
  background-color: lightblue;
  margin: 1em;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  clear: both;
}

.more a {
  text-decoration: none;
  color: black;
}

.btn1 {
  width: 100%;
}

.btn1 a {
  width: 40%;
  text-align: center;
  margin-right: 1em;
  color: black;
}

.one {
  float: left;
  display: block;
  text-decoration: none;
  width: inherit;
  background-color: lightblue;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 1em;
}

.two {
  float: right;
  display: block;
  text-decoration: none;
  width: inherit;
  background-color: lightblue;
  padding-top: 1em;
  padding-bottom: 1em;
}

.three {
  float: left;
  clear: left;
  display: block;
  text-decoration: none;
  width: inherit;
  background-color: lightblue;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 1em;
}

.four {
  float: right;
  display: block;
  clear: right;
  text-decoration: none;
  width: inherit;
  background-color: lightblue;
  padding-top: 1em;
  padding-bottom: 1em;
}

.btn2 {
  width: 100%;
}

.btn2 a {
  width: 40%;
  text-align: center;
  margin-right: 1em;
  color: black;
}

.show {
  background-color: lightblue;
  color: black;
  text-decoration: none;
  padding: 0.25em;
}

li {
  list-style-type: none;
}

ol {
  padding: 0em 0em 1em 0em;
  margin: 0;
}

.left {
  float: left;
  display: inline-block;
  position: relative;
  font-size: 14px;
  padding: 0em 0.25em 0em 1em;
}

.right {
  float: right;
  display: inline-block;
  position: relative;
  font-size: 14px;
  padding: 0em 1em 0em 0em;
}

.middle {
  display: inline-block;
  position: relative;
  font-size: 14px;
}

dd {
  margin: 0;
}

dl {
  display: block;
  position: relative;
}

.bottom {
  display: block;
}
